<form class="section box" action="/dashboard/addstation" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
    <div class="field">
      <label class="label">Station Name</label>
      <input class="input" type="text" placeholder="Name of the station" maxlength="20" name="stationname">
    </div>
    <div class="field">
      <label class="label">Latitude</label>
      <input class="input" type="text" placeholder="30.489772" maxlength="10" name="latitude">
    </div>
    <div class="field">
      <label class="label">Longitude</label>
      <input class="input" type="text" placeholder="-99.771335" maxlength="10" name="longitude">
    </div>
  </div>
  </div>
<!--  <br>-->
  <div class="field is-grouped">
  <button class="button is-link" id="new-station">Add Station</button>
  </div>
</form>