<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label class="label">Enter Weather Report Details: </label>
    <div class="field is-horizontal">
      <div class="field-body columns">

        <div class="field column">
          <label>Weather Code</label>
          <input class="input" type="text" placeholder="000" maxlength="3" name="weathercode">
        </div>
        <div class="field column">
          <label>Temperature [ ºC ]</label>
          <input class="input" type="text" placeholder="-10.1" maxlength="5" name="temperature">
        </div>
        <div class="field column">
          <label>Wind Speed [ m/s ]</label>
          <input class="input" type="text" placeholder="00" maxlength="2" name="windspeed">
        </div>

        <div class="field column">
          <label>Wind Direction</label>
          <!--          TODO: wind direction dropdown-->
          <div class="select">
            <select class="input" name="winddirection">
              <option>Select</option>
              <option value="0">North</option>
              <option value="45">North East</option>
              <option value="90">East</option>
              <option value="135">South East</option>
              <option value="180">South</option>
              <option value="225">South West</option>
              <option value="270">West</option>
              <option value="315">North West</option>
            </select>
          </div>
          <!--          <label class="label">Date/Time</label>-->
          <!--          <input class="input" type="text" placeholder="Enter date and time" name="datetime">-->
        </div>

        <div class="field column">
          <label>Pressure</label>
          <input class="input" type="text" placeholder="0000" maxlength="4" name="pressure">
        </div>

      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body columns">

        <div class="field column">

<!--          <input class="input" type="text" placeholder="000" maxlength="3" name="winddirectiontyped">-->
        </div>





      </div>
    </div>

  <div class="field is-grouped">
    <button class="button is-primary">Add Report</button>
  </div>
</form>
