<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label class="label" id="new-report">Enter Weather Report Details: </label>
    <div class="field is-horizontal">
      <div class="field-body columns">

        <div class="field column">
<!--          https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist-->
<!--          https://stackoverflow.com/questions/33878539/is-there-an-html-entity-for-an-info-icon#33878610-->
          <label for="weather-codes">Weather Code</label>
          <a href="/about#weather-codes" class="has-text-brand has-text-weight-bold" title="List of weather codes"> &#9432;</a>
          <input list="weather-codes" class="input" type="number" min="200" max="804" placeholder="200" maxlength="3" name="weathercode">
          <datalist id="weather-codes">
            <option value="200">
            <option value="300">
            <option value="500">
            <option value="600">
            <option value="701">
            <option value="800">
            <option value="801">
            <option value="802">
            <option value="803">
            <option value="804">
          </datalist>
        </div>
        <div class="field column">
          <label>Temperature</label>
          <input class="input" type="number" min="-90" max="90" placeholder="-10.1 ºC" maxlength="5" name="temperature">
        </div>
        <div class="field column">
          <label>Wind Speed</label>
          <input class="input" type="number" min="0" max="150" placeholder="1.1 m/s" maxlength="4" name="windspeed">
        </div>

        <div class="field column">
          <label>Wind Direction</label>
          <!--          TODO: wind direction dropdown-->
<!--          https://uni.edu/storm/Wind%20Direction%20slide.pdf-->
          <div class="select is-fullwidth is-brand">
            <select class="input" name="winddegrees">
              <option>Select</option>
              <option value="0">North</option>
              <option value="25">N/NE</option>
              <option value="45">North East</option>
              <option value="65">E/NE</option>
              <option value="90">East</option>
              <option value="115">E/SE</option>
              <option value="135">South East</option>
              <option value="155">S/SE</option>
              <option value="180">South</option>
              <option value="205">S/SW</option>
              <option value="225">South West</option>
              <option value="245">W/SW</option>
              <option value="270">West</option>
              <option value="295">W/NW</option>
              <option value="315">North West</option>
              <option value="335">N/NW</option>
            </select>
          </div>
          <!--          <label class="label">Date/Time</label>-->
          <!--          <input class="input" type="text" placeholder="Enter date and time" name="datetime">-->
        </div>

        <div class="field column">
          <label>Pressure</label>
          <input class="input" type="number" min="870" max="1085" placeholder="0000" maxlength="4" name="pressure">
        </div>

      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body columns">

        <div class="field column">

<!--          <input class="input" type="text" placeholder="000" maxlength="3" name="winddirectiontyped">-->
        </div>

      </div>
    </div>

  <div class="field is-grouped buttons">
    <button class="button is-primary">Add Report</button>
  </div>
</form>
<form class="box" action="/station/{{station._id}}/addreading" method="POST">
  <div class="field is-grouped buttons">
    <button class="button is-primary">Read Weather</button>
  </div>
</form>