<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Enter Weather Report Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter weather code" name="weather-code">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter temperature" name="temperature">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter wind speed" name="wind-speed">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter wind direction" name="wind-direction">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter pressure" name="pressure">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter date and time" name="date-time">
      </div>

<!--      -->
<!--      <div class="field">-->
<!--        <input class="input" type="text" placeholder="Enter Title" name="title">-->
<!--      </div>-->
<!--      <div class="field">-->
<!--        <input class="input" type="text" placeholder="Enter Artist" name="artist">-->
<!--      </div>-->
<!--      <div class="field">-->
<!--        <input class="input" type="text" placeholder="Enter duration" name="duration">-->
<!--      </div>-->


    </div>
  </div>
  <button class="button is-primary">Add Track</button>
</form>
