<div class="title p-3 is-flex">

  <div class="is-unselectable {{> class-brand}} has-text-brand"><span class="has-text-weight-bold">Weather</span>
    <span class="has-text-weight-bold">Top</span></div>
</div>