<div class="title p-3 is-flex">
  <div class="is-unselectable {{> class-brand}} has-text-brand is-inline">

    <span class="has-text-weight-bold is-inline">Weather</span>

    <figure class="image is-32x32 is-inline-block">
      <img src="https://openweathermap.org/img/wn/01d@2x.png" alt="weather icon"/>
    </figure>

    <span class="has-text-weight-bold is-inline">Top</span>

  </div>
</div>