<div id="modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <a href="/dashboard/deletestation/{{_id}}" class="button">
      {{>icons/delete}}
    </a>

  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>