<!DOCTYPE html>
<html lang="en-IE">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<!--  <link rel="stylesheet" type="text/css" href="../views/styles/style.css">-->

  <style>
    /*https://stackoverflow.com/questions/78571398/customizing-bulmacss-colors-with-css*/
    :root {
      /* colours */
      --bulma-primary: hsl(12, 78%, 61%);
      /*--bulma-size-medium: 0.5rem;*/
    }
    .button.is-primary{
      background-color: hsl(12, 78%, 61%);
    }
    .button.is-primary:hover{
      background-color: hsl(12, 78%, 66%);
    }
    .button.is-primary:active{
      background-color: hsl(12, 78%, 56%);
    }
    .button.is-link{
      background-color: 	hsl(172, 54%, 58%);
    }
    .button.is-link:hover{
      background-color: 	hsl(172, 54%, 68%);
    }
    .button.is-link:active{
      background-color: 	hsl(172, 54%, 78%);
    }

  </style>

</head>

<body>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>