{{> menu active="about"}}

<section class="section">
  <h2 class="title {{> class-brand}}">{{title}}</h2>
  <h4 class="subtitle has-text-weight-light is-6">Weather station reports - Version 1</h4>


  <section class="section">
    {{>list-weathers}}
  </section>
</section>