{{> menu active="dashboard"}}

<section class="section">
  <h1 class="title">{{title}}</h1>
  <div class="field">
    <a class="button is-link" href="#new-station">Add Station</a>
  </div>

  {{> list-stations}}
  {{> add-station}}
</section>