{{> menu active="dashboard"}}

<section class="section">
  <h1 class="title is-capitalized has-text-weight-light">{{title}}</h1>
  <div class="field">
  </div>

  {{> list-stations}}
  {{> add-station}}
</section>