{{> welcome-menu}}

<section class="section has-text-centered">
  <p> Sign up or Log in... </p>
  <p> ...or click below to get a new weather card. </p>
</section>

<section class="randomWeather">

  {{> random-card}}
</section>