{{> menu}}

<section class="section">
  <div class="title is-capitalized {{> class-brand}}">
    {{title}}
  </div>
  <h6 class="subtitle">On {{station.stationname}} station</h6>
  {{> edit-report}}
</section>