{{> menu}}

<section class="section">
  <div class="title">
    {{station.stationname}}
  </div>
  <div class="subtitle">
  </div>
  {{> summary-station}}

  {{> list-reports}}
  {{> add-report}}
</section>