{{> menu}}

<section class="section">
  <div class="title">
    {{station.stationname}}
  </div>
  <div class="subtitle">
    Latest Report: {{latestReport.datetime}}, {{elapsed}}
    <br>

    {{> summary-station}}

    <br>
<!--    Max wind speed (extreme): {{extremeReport.windspeed}}-->
  </div>
  {{> list-reports}}
  {{> add-report}}
</section>