{{> menu}}

<section class="section">
  <div class="title is-capitalized {{> class-brand}}">
    {{title}}
  </div>


  {{> chart}}
  {{> summary-station}}
  {{> add-report}}
  {{> list-reports}}

  <div class="heading is-6 has-text-weight-light">
    Station ID: {{station._id}}
  </div>
</section>