{{> menu}}

<section class="section">
  <div class="title is-capitalized {{> class-brand}}">
    {{station.stationname}}
  </div>
  <div class="subtitle is-6 has-text-weight-light">
    {{numberOfReportsInStation}} reports
  </div>

  {{> summary-station}}
  {{> list-reports}}
  {{> add-report}}
</section>