{{> menu}}

<section class="section">
  <div class="title is-capitalized">
    {{station.stationname}}
  </div>
  <div class="subtitle">
    {{numberOfReportsInStation}} reports
  </div>
  {{> summary-station}}

  {{> list-reports}}
  {{> add-report}}
</section>