{{> menu}}

<section class="section">
  <div class="title">
    {{station.stationname}}
  </div>
  <div class="subtitle">
    Latest Report: {{latestReport.datetime}}, {{elapsed}}
    <br>
  </div>

  {{> summary-card}}{{> summary-card}}{{> summary-card}}
  {{> list-reports}}
  {{> add-report}}
</section>