{{> menu}}

<section class="section">
  <div class="title is-capitalized {{> class-brand}}">
    {{title}}
  </div>
  <div class="subtitle is-6 has-text-weight-light">
    Station ID: {{station._id}}
  </div>

  {{> summary-station}}
  {{> list-reports}}
  {{> add-report}}
</section>