

.has-text-primary{
    color: #ff9200!important;
}
.has-text-primary-light{
    color: #ffe5c2!important;
}
.has-text-primary-dark{
    color: #bf9e73!important;
}
.has-text-info{
    color: #01b0f0!important;
}


